__pycache__
*.pyc
*.pyo
*.pyd
.python-version
.env
.env.*
.venv/
venv/
env/
node_modules/
.pip-wheel-metadata/
.pytest_cache/
.docker/
.git/
.gitignore
Dockerfile
docker-compose.yml
qdrant_storage/
data/
tdr_data/
*.log
backend/*.log
